.swiper-container{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	overflow:hidden;
	list-style:none;
	padding:0;
	z-index:1;
	width: 100%;
	height: 100%;
	position: absolute;
}
.swiper-wrapper{
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
	display:flex;
	transition-property:transform;
	box-sizing:content-box;
	transform-style:preserve-3d
}
.swiper-slide{
	font-family:fantasy,cursive,sans-serif,serif,monospace;
	flex-shrink:0;
	width:100%;
	height:100%;
	position:relative;
	transition-property:transform;
	background-position: center;
	background-size: cover;
}
.swiper-container-cube{
	overflow:visible;
}
.swiper-container-cube .swiper-slide{
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	visibility:hidden;
	transform-origin:0 0;
	pointer-events:none;
	z-index:1;
}
.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{
	pointer-events:auto;
	visibility:visible
}
.fn{
	position: absolute;
	color: #fff;
	font-size: 60px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}
.img{
	position:absolute;
	max-width: 100%;
	height: auto;
	top: 60%;
}


