nav {background: rgba(0,0,0,0.7);}
#gototop{
  position:fixed;
  right:2px;
  bottom:40px;
  cursor:pointer;
  opacity:.6;
  z-index: 3;
}
#gototop img {
  width: 40px;
}
#line-icon{
  position:fixed;
  cursor:pointer;
  opacity:0.6;
  right:5px;
}
#line-icon img {
  width: 34px;
}
.bgimage {
  background-image: url(img/B_Beggar_1024x683.jpg);
  background-attachment: fixed;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: -999;
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {outline: none;}
.textshadow{
  text-shadow: -1px -1px 1px #FFFFE0, 1px 1px 1px #8B4513;
  color: Orange;
} 
@media (max-width: 1200px) {
  h1,.h1 {font-size: calc(1.8rem + 1.5vw);margin-top: 250px;}
}
@media (max-width: 1025px) {
  h1,.h1 {font-size: calc(4.2rem + 1.5vw);margin-top: 700px;}
}
@media (max-width: 769px) {
  h1,.h1 {font-size: calc(3.5rem + 1.5vw);margin-top: 500px;}
}
@media (max-width: 541px) {
  h1,.h1 {font-size: calc(2.6rem + 1.5vw);margin-top: 360px;}
}
@media (max-width: 415px) {
  h1,.h1 {font-size: calc(2.2rem + 1.5vw);margin-top: 370px;}
}
@media (max-width: 376px) {
  h1,.h1 {font-size: calc(2.0rem + 1.5vw);margin-top: 330px;}
}
@media (max-width: 361px) {
  h1,.h1 {font-size: calc(1.9rem + 1.5vw);margin-top: 320px;}
}
@media (max-width: 321px) {
  h1,.h1 {font-size: calc(1.7rem + 1.5vw);margin-top: 280px;}
}
@media (max-width: 281px) {
  h1,.h1 {font-size: calc(1.5rem + 1.5vw);margin-top: 340px;}
}
.blink {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  text-align: center;
  color: #fff;
}
@keyframes blink {
  from { opacity: 1; }
    to { opacity: 0; }
}
